
<h1> A great list of all categories </h1>

<% @categories.each do |category| %>
	<div>
		<%= link_to category.name, category %> &nbsp; (<%= category.articles.count %>)
	</div>
<% end %>	

<h3> <%=link_to "Add a new category", new_category_path %>
